<div>
  <div class="modal-header">
    <h4 class="modal-title">Reservation</h4>
    <button
      type="button"
      class="close btn-close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
      >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <textarea
          class="form-control input-field"
          rows="3"
          placeholder="Enter Problem Description"
          formControlName="problemDescription"
          >
        </textarea>
      </div>
      <div class="form-check form-switch mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          (change)="onAddressInputChange()"
          >
        <label class="form-check-label" for="flexSwitchCheckDefault">Add Address For Reservation</label>
      </div>
      <ng-container *ngIf="isAddressChecked()">
        <div class="row p-3" formGroupName="address">
          <h4 class="mb-3">Address</h4>
          <div class="col-4 mb-4">
            <input
              class="form-control input-field"
              placeholder="Country"
              type="text"
              formControlName="country"
              required
              >
          </div>
          <div class="col-4 mb-4">
            <input
              class="form-control input-field"
              placeholder="City"
              type="text"
              formControlName="city"
              required
              >
          </div>
          <div class="col-4 mb-4">
            <input
              class="form-control input-field"
              placeholder="Street"
              type="text"
              formControlName="street"
              required
              >
          </div>
        </div>
      </ng-container>
      <div class="form-check form-switch mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          [checked]="!isNotForMe()"
          (change)="onForMeInputChange()"
          >
        <label class="form-check-label" for="flexSwitchCheckChecked">For Me</label>
      </div>
      <ng-container *ngIf="isNotForMe()">
        <div class="row p-3" formGroupName="contact">
          <h4 class="mb-3">Contact Info</h4>
          <div class="col-6 mb-4">
            <input
              class="form-control input-field"
              placeholder="First Name"
              type="text"
              formControlName="firstName"
              required
              >
          </div>
          <div class="col-6 mb-4">
            <input
              class="form-control input-field"
              placeholder="Last Name"
              type="text"
              formControlName="lastName"
              required
              >
          </div>
          <div class="mb-4">
            <input
              class="form-control input-field"
              placeholder="Phone Number"
              type="text"
              formControlName="phoneNumber"
              required
              >
          </div>
        </div>
      </ng-container>
      <button class="btn btn-bg-org text-light" type="submit">Reservation</button>
    </form>
  </div>
</div>
