<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand text-uppercase"href="#">Smart Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-center collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item me-2">
                    <a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end navbar-collapse auth-nav">
          <ul class="navbar-nav">
            @if(!authService.isUserLogIn) {
              <li class="me-2">
                <button
                  class="btn"
                  routerLink="/accounts/login"
                  [class.disabled]="router.url.split('?')[0] == '/accounts/login'"
                  [queryParams]="{ redirectUrl: router.url }"
                  >
                  Login
                </button>
              </li>
              <li>
                <button class="btn btn-bg-org">Register</button>
              </li>
            }@else {
              <li>
                <div class="dropdown">
                  <button class="btn-no-border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <fa-icon [icon]="faCircleUser" class="fa-2xl"></fa-icon>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" routerLink="/accounts/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <a
                        class="dropdown-item"
                        role="button"
                        (click)="onLogoutBtnClicked()"
                        >
                        <fa-icon [icon]="faRightFromBracket" class="fa-sm me-2"></fa-icon>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            }
          </ul>
        </div>
    </div>
</nav>
