aside {
  border: 1px solid black;
  width: 250px;
  min-height: 100vh;
  background-color: var(--primary-color);
  padding: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.aside-header {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.aside-header a {
  margin-left: auto;
  display: block;
  width: fit-content;
  margin-bottom: 20px;
}
.nav-link {
  color: white !important;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item:hover {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

