<aside>
  <div class="aside-header">
    <a role="button">
      <fa-icon [icon]="faAnglesLeft" class="text-light fa-xl"></fa-icon>
    </a>
    <h4 class="text-light text-uppercase text-center">Smart Gallery</h4>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <fa-icon [icon]="faList" class="text-light ms-4"></fa-icon>
      <a class="nav-link" role="button" routerLink="/admin/categories">Categories</a>
    </li>
    <li class="nav-item">
      <fa-icon [icon]="faBorderAll" class="text-light ms-4"></fa-icon>
      <a class="nav-link" role="button" routerLink="/admin/services">Services</a>
    </li>
    <li class="nav-item">
      <fa-icon [icon]="faTableList" class="text-light ms-4"></fa-icon>
      <a class="nav-link" role="button">Reservations</a>
    </li>
  </ul>
</aside>

