<!-- <button class="btn btn-bg-org text-light d-block ms-auto me-5 mt-5" (click)="onCreate()">Add Category +</button>
<div class="card card-body m-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories$ | async; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>{{category.name}}</td>
        <td>
          <a role="button" class="me-4" (click)="onEdit(category)">
            <fa-icon [icon]="icons.edit" class="text-prim-color"></fa-icon>
          </a>
          <a role="button" (click)="openConfirmDialog(category)">
            <fa-icon [icon]="icons.delete" class="text-danger"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="container">
  <h1>List of Categories</h1>
<div class="d-flex justify-content-end align-items-center my-4 actions">
  <div>
    <button class="btn bg-main-primary text-light me-5 " (click)="onCreate()">
      <fa-icon [icon]="icons.add" class="text-light"></fa-icon>
    </button>
    <button class="btn btn-danger text-light me-3 ">
      <fa-icon [icon]="icons.delete" class="text-light"></fa-icon>
    </button>
  </div>
</div>
<div class="table-container">
    <table
    mat-table
    [dataSource]="dataSource"
    >

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row; let position = index">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(position, row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let i = index;"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element;">
        <a role="button" class="me-2" (click)="onEdit(element); $event.stopPropagation()">
          <fa-icon [icon]="icons.edit" class="text-prim-color"></fa-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <a role="button" (click)="openConfirmDialog(element); $event.stopPropagation()">
          <fa-icon [icon]="icons.delete" class="text-danger"></fa-icon>
        </a>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true" class="mat-sticky-header"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
    </tr>
  </table>
</div>
</div>
