<div class="container card-container d-flex justify-content-center align-items-center">
  <div class="card p-3">
    <div class="p-3 text-center">
      <h1 class="text-prim-color text-uppercase ">Smart Gallery</h1>
      <p class="text-black-50 mt-3">welcome back we missed you.</p>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="col-6 pe-2">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Enter Your First Name"
            type="text"
            formControlName="firstName"
            >
          @if(firstName?.hasError('required')) {
            <mat-error>First Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-6 ps-2">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Enter Your Last Name"
            type="text"
            formControlName="lastName"
            >
          @if(lastName?.hasError('required')) {
            <mat-error>Last Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Enter Your Email"
            type="email"
            formControlName="email"
            >
          @if(email?.hasError('email') && !email?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if(email?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter Your Password"
            type="password"
            formControlName="password"
            >
          @if(password?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }@else if(password?.hasError('minlength')) {
            <mat-error>Password must be at least 8 characters long</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            placeholder="Enter Your Phone Number"
            type="text"
            formControlName="phoneNumber"
            >
          @if(phoneNumber?.hasError('required')) {
            <mat-error>Phone Number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="mb-3 col-12">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Enter Your Address"
            type="text"
            formControlName="address"
            >
          @if(address?.hasError('required')) {
            <mat-error>Address is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div class="d-grid">
          <button
            class="btn btn-bg-org text-light py-2"
            type="submit"
            [disabled]="!form.valid"
            >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
