<form (ngSubmit)="onSubmit()" #form="ngForm">
  <h2 mat-dialog-title>{{status}} Category</h2>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input
        matInput
        placeholder="Enter Category"
        name="categoryName"
        type="text"
        [(ngModel)]="categoryModel.name"
        required
        >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cancel</button>
    <button
      type="submit"
      class="btn text-light bg-main-primary"
      [disabled]="form.invalid || form.untouched"
      >
      {{status}}
    </button>
  </div>
</form>

